<div ng-controller="indexController">
	<super-navbar>
	    <super-navbar-title>
	        菌落
	    </super-navbar-title>
	    <super-navbar-button side="right">附近</super-navbar-button>
	</super-navbar>
	<super-navigate location="colony#activity" class="top">
	    <img src="/image/index_1.png" style="width:100%;">
	</super-navigate>
	<div class="gap"></div>
	<super-navigate location="colony#activity" class="middle">
	    <img src="/image/index1.png" style="width:100%;">
	</super-navigate>
	<super-navigate location="colony#message" class="middle">
	    <img src="/image/index2.png" style="width:100%;">
	</super-navigate>
</div>
