<div ng-controller="organizationsController">
    <super-navbar>
        <super-navbar-title>
            活动推荐
        </super-navbar-title>
    </super-navbar>
    <style type="text/css">
        html,body{margin:0;padding:0;}
        .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
        .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    </style>
    <div style="width:100%">
        <div ng-repeat="item in organizations track by $index" style="padding:5px 20px; border-bottom:1px solid #888; background-color:#eee">
            <h4>{{::item.name}}</h4>
            <p>时间：{{::item.date}}</p>
            <p>地点：{{::item.address}}</p>
            <p style="text-align:right">发布人：{{::item.username}}</p>
        </div>
    </div>
</div>